@import "../../../scss/variable.scss";

.nav {
  position: relative;
  background-color: $bg_color;

  @media screen and (max-width: 990px) {
    display: none;
  }

  .box {
    .after {
      display: flex;
      gap: 20px;
      padding: 0;
      justify-content: center;
      align-items: center;
      :nth-child(1) &:hover .sub1_menu {
        display: flex;
      }

      :nth-child(8) a::after {
        content: "v3.0";
        background-color: $primary_color;
        color: white;
        font-size: 12px;
        border-radius: 5px;
        padding: 2px;
        margin-left: -9px;
      }

      // :nth-child(2) &:hover .sub2_menu{
      //     display: flex;
      // }

      li {
        list-style: none;

        a {
          color: $primary_color;
          text-decoration: none;
          font-size: $fnt_size;
          font-weight: $fnt_weight;
        }
        svg {
          font-size: 10px;
        }
        :hover {
          color: $hover_color;
        }

        .sub1_menu {
          opacity: 1;
          display: none;
          align-items: flex-start;
          justify-content: center;
          width: calc(100vw - 8.8vh);
          min-width: 13.5rem;
          border-radius: 0.65rem;
          background-color: white;
          position: absolute;
          left: 20.264px;
          top: 70px;
          padding: 1.75rem 1rem;
          z-index: 6666;
          border-radius: 0.35rem;
          box-shadow: 0 20px 20px -8px rgb(17 16 19 / 15%),
            0 0 1px rgb(17 16 19 / 5%);
          transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
          // transform: perspective(500px) rotateX(-10deg);
          transform-origin: 50% -50px;

          .sub {
            width: calc(100% / 6);
            p {
              text-transform: uppercase;
              opacity: 0.65;
              font-size: 0.8em;
              font-weight: 600;
            }
            li {
              cursor: pointer;
              list-style: none;
              line-height: 100%;
              font-weight: 400;
              color: black;
              font-size: 1.2rem;
              padding: 0.45rem 0;
              :hover {
                color: $hover_color;
              }
            }
          }
          :nth-child(5) li:nth-child(7):after {
            content: "NEW";
            background-color: $hover_color;
            color: white;
            font-size: 12px;
            border-radius: 5px;
            padding: 2px;
            margin-left: 2px;
          }
          :nth-child(6) li:after {
            content: "NEW";
            background-color: $hover_color;
            color: white;
            font-size: 12px;
            border-radius: 5px;
            padding: 2px;
            margin-left: 2px;
          }
        }
      }

      // .sub2_menu {
      //     opacity: 1;
      //       display: none;
      //       align-items: flex-start;
      //       justify-content: center;
      //       width: calc(100vw - 8.8vh);
      //       min-width: 13.5rem;
      //       border-radius: 0.65rem;
      //       background-color: white;
      //       position: absolute;
      //       left: 20.264px;
      //       top:70px;
      //       padding: 1.75rem 1rem;
      //       z-index: 666;
      //       border-radius: 0.35rem;
      //       box-shadow: 0 20px 20px -8px rgb(17 16 19 / 15%), 0 0 1px rgb(17 16 19 / 5%);
      //       transition: all cubic-bezier(0.645,.045,0.355,1) 0.35s;
      //       // transform: perspective(500px) rotateX(-10deg);
      //       transform-origin: 50% -50px;

      //       .sub {
      //           width: calc(100% / 6);
      //           p {
      //               text-transform: uppercase;
      //               opacity: .65;
      //               font-size: 0.8em;
      //               font-weight: 600;
      //           }
      //           li {
      //               cursor: pointer;
      //               list-style: none;
      //               line-height: 100%;
      //               font-weight: 400;
      //               color: black;
      //               font-size: 1.2rem;
      //               padding:0.45rem 0;:hover {
      //                   color: $hover_color;
      //               }

      //           }

      //       }
      //       :nth-child(5) li:nth-child(7):after {
      //           content: "NEW";
      //           background-color: $hover_color;
      //           color: white;
      //           font-size: 12px;
      //           border-radius: 5px;
      //           padding: 2px;
      //           margin-left: 2px;
      //       }
      //       :nth-child(6) li:after {
      //           content: "NEW";
      //           background-color: $hover_color;
      //           color: white;
      //           font-size: 12px;
      //           border-radius: 5px;
      //           padding: 2px;
      //           margin-left: 2px;
      //       }

      // }
    }
  }

  button {
    @media screen and (max-width: 990px) {
      display: none;
    }
    background-color: $primary_color;
    color: $li_color;
    font-size: 15px;
    line-height: $line_height;
    margin-left: -30px;
    border-radius: 7px;
    overflow-wrap: break-word;
    width: 110px;
    padding: 3px;
  }
}
