@import "../scss/mixin.scss";
@import "../scss/variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: rgba(34, 119, 91, 0.05);
  background-color: #f9f8fa;
}
