$fnt_size: 17px;
$fnt_weight: 500;
$li_color: #fff;
$primary_color: #161519;
$fnt_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$line_height: 1.6;
$bg_color: #f9eff5;
$bg2_color: #f7edfc;
$main_color: #f9f8fa;
$hover_color: #dc2828;
$light_dark: #1d1c20;
$light2_dark: #242228;
$text_color: #9690a2;
$text2_color: #635d6f;
