.footer {
  background-color: #161519;
  padding: 6rem 0;

  h4 {
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: -0.03em;
    line-height: 1.2;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    margin: 1rem 0;
  }
  p {
    color: #9690a2;
    font-size: 1.025rem;
    line-height: 1.6;
  }
  .copyright {
    border-top: 1px solid rgba(150, 144, 162, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;

    p {
      float: right;
      color: #9690a2;
      font-size: 1.025rem;
      line-height: 1.6;
    }
    h6 {
      color: #9690a2;
      font-size: 1.025rem;
      line-height: 1.6;
    }
  }
}
