.agency {
  background-image: url("https://colabrio.ams3.cdn.digitaloceanspaces.com/stage.clbthemes.com/oh__img93.jpg");
  background-color: rgba(34, 119, 91, 0.05);
  background-size: auto;
  background-position: center center;
  background-repeat: repeat;
  width: 100%;
  height: 600px;

  .holder {
    padding: 15rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "DM Sans", sans-serif;
      color: white;
      font-weight: 700;
      margin: 1rem 0;
      font-size: 4.5rem;
      letter-spacing: -0.045em;
      line-height: 1;
    }

    .meta_holder {
      font-size: 1.05em;
      max-width: 60%;
      margin-top: 1.25rem;
      color: rgba(255, 255, 255, 0.7);
    }
    .optional {
      background-color: #dc2828;
      color: white;
      font-size: 16px;
      line-height: 1;
      border: none;
      font-weight: 600;
      border-radius: 7px;
      overflow-wrap: break-word;

      padding: 10px 15px;
    }
  }
}
