.right {
  @media screen and (max-width: 990px) {
    display: none;
  }
  position: fixed;
  top: 100px;
  right: 70px;
  .switcher {
    width: 40px;
    display: flex;
    flex-direction: column;
    height: 120px;
    z-index: 5;
    .dark_mood {
      display: flex;
      gap: 10px;
      flex-direction: column;

      span {
        display: flex;
        padding: 10px;
        text-orientation: mixed;
        writing-mode: vertical-rl;
        color: black;
        background-color: white;
        justify-content: center;
        align-items: center;
        box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
        border-radius: 7px;
        border: none;
        gap: 5px;
      }
    }
  }
}
